<nav class="flex-col ml-5 w-[370px] min-h-[calc(98vh-3.0rem)] bg-teal-600 bg-opacity-10 p-5 rounded-3xl">
    <h1 class="font-bold text-lg lg:text-3xl text-indigo-500">AngularBase</h1>
    <span class="text-xl">Bienvenido</span>
    <div class="border-gray-700 border my-3"></div>
  
    <!-- Nav Links -->
     @for(route of routes; track route.path){
      <app-sider-bar-menu-item
        [description]="route.data!['description']"
        [icon]="route.data!['icon']"
        [title]="route.data!['title']"
        [path]="route.path!"
        (click)="optionClick(route.data!['title'])">
      </app-sider-bar-menu-item>
     }
  </nav>